{{#each content key="@index" as |item|}}
	{{#if prompt}}
		<option disabled selected={{is-not selection}}>
			{{prompt}}
		</option>
	{{/if}}
	<option value={{get item optionValuePath}} selected={{is-equal item selection}}>
		{{get item optionLabelPath}}
	</option>
{{/each}}
