{{#if prompt}}
	<option selected={{is-not selection}}>
		{{prompt}}
	</option>
{{/if}}
{{#each content key="@index" as |item|}}
	<option value={{get item optionValuePath}} selected={{is-equal item selection}}>
		{{get item optionLabelPath}}
	</option>
{{/each}}
